 div{
    display: block;
    /* text-transform: uppercase; */
} 
.div1{
background-image: url('images.jpg');
height: 500px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: #f2f2f2;
 
}
.opacaty{
    background-color: rgba(36, 36, 36, 0.671);
    height: 490px;
  padding-top: 10px; 
  
}
body{
    margin: 0px;
    padding: 0px;
}
.div1 .opacaty .header {
height: 50px;

}
.div1 .opacaty .header h3{
    float: left;
    font-size: 30px;
    font-weight: 800;
    padding: 30px 30px;
    color: #f2f2f2;
    font-family: monospace;
    cursor: pointer
}
.div1 .opacaty .header .list{ 
    float: right; 
    padding-right: 60px;
}
.div1 .opacaty .header .list li{
    display: inline-block  ;
    font-size: 17px;
    padding: 35px 15px;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: 2px;
    cursor: pointer;
}
.center{
text-align: center;
height:150px;
width: 100%;
padding-top: 100px;
}
.center h2{
    color: white;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
}
.center p
{color: #e96c77;
    padding-bottom: 25px;
    font-size: .75cm;
    font-weight: 700;
    font-family: sans-serif;
}

.center button{
    background-color: #e13745;
    color: #fff;
    border: 1px solid red;
    font-family: sans-serif;
    font-weight: 500;
    padding:10px 40px ;
    border-radius: 20px;
    font-size: 15px;
    text-transform: uppercase;
    
}
button:hover{
    background-color: rgba(199, 50, 0, .9);
}
.topic{
    text-align: center;
    height: 1000px;
    padding-top: 50px;
    background-color:#f5f5f5;
    
}
.topic h3{
    /* text-transform: uppercase; */
    font-size: 25px;
    font-weight: 800;
    font-family: sans-serif;
    color: #555555;
    text-transform: uppercase;
    text-decoration:underline;
}
.topic p{
    padding-top: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    color: #808080;
}
.topic .d1,.d2,.d3 h2{
    color: #555555;
    font-weight: 900px;
    padding-top: 25px;
    letter-spacing: 0.05em
}
.topic .d1,.d2,.d3{
    border: 1px solid #efefef;
    width: 400px;
    float: left;
    margin: 14px;
    height: 270px;
    background-color: #fff;
    box-shadow: 0 3px 0 0 rgb(0 0 0 / 10%);
    padding: 0; 
    text-align: center;
    /* transition: width 1s, height 1s; */
} 
/* .topic .d1 :hover {
    width: 500px;
    height: 300px;
  } */
.topic .d1,.d2,.d3 p
{
   padding-top: 5px;
}

.sec { 
    height: 1100px;
    padding-top: 50px;
    text-align: center;
    background-color:#e96c77;
    margin-top: 250px;
}
.sec p{
    padding-top: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    color: #e9f7fc;
}
.sec h2{
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-decoration:underline;
    font-weight: 800;
    text-transform: uppercase;
}
.sec .contain h3{
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-family: monospace;
    font-size: 25px;
    color: #fff;
    font-weight: 800;
}
.sec .contain .div{
    width: 400px;
    padding: 20px 20px;
    background-color: #EC828C;
    height: 300px;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    margin-top: 40px;
}
.foter{
 text-align: center;
height: 700px;
width: 100%;
/* padding-top: 100px; */
margin-top: 40px;
}
.foter h2{
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    font-family: sans-serif;
    color: #555555; 
    text-transform: uppercase;
    text-decoration:underline;
}
.foter .d2 h2{
    color: #555555;
    font-weight: 700px;
    padding-top: 25px;
    
}
.foter .d2 p{
    padding: 20px 30px;
    color: #808080;
    font-family: monospace;
}
.foter .d2 {
       height: 500px;
    padding: 8px;
    margin: 10px;
    }
    .foter button{
        border: 1px solid #cccccc;
    background-color: #fff;
    cursor: pointer;
    font-weight: 900;
    color: #555555;
    padding: 10px 35px;
    text-transform:capitalize;    
}
.foter button:hover{
    background-color:  rgba(206, 201, 201,.9);
}
.contact
{
    text-align: center;
    height: 1200px;
    width: 100%;
 background-color:#efefef;
 margin-top: -50px;
 
}
.contact h2{
    padding-top: 80px;
    font-size: 25px;
    font-weight: 800;
    font-family: sans-serif;
    color: #555555;
    text-transform: uppercase;
    text-decoration:underline;
}
 /* .contain{
   
    
    height: 380px;
    width: 700px;
    background-color: #fff;
    margin: 20px auto;
} */
.contact .num{
  
} 
.contact .mes .info{
padding: 10px 30px;

}
.contact .mes .mess{
    padding: 50px;
    
    }
.contact .mes {
        display: inline;
        height: 400px;
        width: 50%;
    }
    .final{
        height: 70px;
        background-color: #262626;
    }
    
    .final p{
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
        padding-top: 25px;
        font-style: Lora;
        margin-top: -10px;
    }
    span{
       color:  #0895d1;
       font-size: 15px;
    font-weight: 700
    }